<div class="container-fluid">
  <div class='row'>
    <div class='col-xs-12
      col-sm-offset-2 col-sm-8
      col-md-offset-3 col-md-6
      col-lg-offset-4 col-lg-4'>
      <div class='panel panel-default'>
        <div class='panel-heading text-center'>Log In</div>
        <div class='panel-body'>
          <a href="<%= user_eve_online_omniauth_authorize_path %>">
            <%= image_tag 'https://images.contentful.com/idjq7aai9ylm/4fSjj56uD6CYwYyus4KmES/4f6385c91e6de56274d99496e6adebab/EVE_SSO_Login_Buttons_Large_Black.png?w=270&h=45' %>
          </a>
          <hr>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %> Remember me
                </label>
              </div>
            <% end -%>

            <div>
              <%= f.submit "Log in", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render "users/shared/links" %>

</div>
