<% if @items.count.zero? %>
  <div class="panel panel-default">
    <div class="panel-body">We are sold out of everything at this time.  Please check back later.</div>
  </div>
<% else %>

  <form id="purchase-form" role="form">

    <% @items.keys.each do |category_name| %>
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4><%= category_name %></h4>
        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <% @items[category_name].each do |item| %>
                <div class="item-container col-xs-6 col-sm-4 col-md-2" data-item-id="<%= item.id %>">
                  <h4><%= item.name %></h4>
                  <a class="item-thumb">
                    <%= image_tag item.image_url, class: "img-responsive img-thumbnail" %>
                  </a>
                  <div class="form-group">
                    <label for="quantity-item-<%=item.id%>">Quantity</label>
                    <input id="quantity-item-<%=item.id%>" class="form-control quantity" type="number" min="0" value="0">
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel">
      <div class="panel-body">
        <% if user_signed_in? %>
          <div class="form-group">
            <label for="character-name">EVE Character Name</label>
            <input type="text" class="form-control" id="character-name" placeholder="Your character name">
          </div>
          <button id="submit-order" type="submit" class="btn btn-primary">Place Order</button>
        <% else %>
          <h4>You need to sign in before placing an order</h4>
          <div class="form-group">
            <%= link_to "Sign up", new_registration_path(:user), class: "btn btn-primary" %>
            <%= link_to "Log in", new_session_path(:user), class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </form>

<% end %>
