<div class="page-header">
  <h1>Available Ships</h1>
</div>

<% if @ships.count.zero? %>
  <div class="panel panel-default">
    <div class="panel-body">No ships are available at this time.  Please check back later.</div>
  </div>
<% else %>
  <div class="container-fluid">
    <div class="row">
      <% @ships.each do |ship| %>
        <div class="col-xs-6 col-md-1">
          <h4><%= ship.name %></h4>
          <a class="ship-thumb" data-ship-id="<%= ship.id %>">
            <%= image_tag "https://image.eveonline.com/Render/#{ship.type_id}_128.png", class: "img-responsive img-thumbnail" %>
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

      <form id="purchase-form" role="form">
        <div class="form-group">
          <label for="ship-selection">Ship</label>
          <select id="ship-selection" class="form-control">
            <option selected>None</option>
            <% @ships.each do |ship| %>
              <option value="<%= ship.id %>"><%= ship.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <label for="character-name">EVE Character Name</label>
          <input type="text" class="form-control" id="character-name" placeholder="Your character name">
        </div>

        <button id="submit-order" type="submit" class="btn btn-primary">Place Order</button>
      </form>
    </div>
  </div>
<% end %>
