<div data-item-id="<%= item.id %>" class="item-container
    col-xs-6
    col-sm-4
    col-md-3
    col-lg-2">
  <h4><%= item.name %></h4>
  <a class="item-thumb">
    <%= image_tag item.image_url, class: "img-responsive img-thumbnail", alt: "Image of #{item.name}" %>
  </a>
  <br />
  <% if current_user.can_change_inventory? %>
    <div class="form-group">
      <label for="category-item-<%=item.id%>">Category</label>
      <%= select_tag :category_id, options_for_select(Category.names_for_select, item.category_id), { id: "category-item-#{item.id}", class: "form-control" } %>
    </div>
    <% if item.for_sale? %>
      <input id="sale-item-<%=item.id%>" class="attr-for_sale" type="checkbox" data-on-text="Y" data-off-text="N" checked>
    <% else %>
      <input id="sale-item-<%=item.id%>" class="attr-for_sale" type="checkbox" data-on-text="Y" data-off-text="N">
    <% end %>
    <label for="sale-item-<%=item.id%>">For Sale</label>
    <br>
    <% if item.rendered? %>
      <input id="rendered-item-<%=item.id%>" class="attr-rendered" type="checkbox" data-on-text="Y" data-off-text="N" checked>
    <% else %>
      <input id="rendered-item-<%=item.id%>" class="attr-rendered" type="checkbox" data-on-text="Y" data-off-text="N">
    <% end %>
    <label for="rendered-item-<%=item.id%>">Rendered</label>
  <% else %>
    <div class="form-group">
      <label>Category</label>
      <input class="form-control" type="text" disabled value="<%=item.category.name%>">
    </div>
    <% if item.for_sale? %>
      <span class="text-success">For Sale</span>
    <% else %>
      <span class="text-danger">Not For Sale</span>
    <% end %>
  <% end %>
</div>
