<div class="container-fluid">
  <div class='row'>
    <div class='col-xs-12
      col-sm-offset-2 col-sm-8
      col-md-offset-3 col-md-6
      col-lg-offset-4 col-lg-4'>
      <div class='panel panel-default'>
        <div class='panel-heading text-center'>Forgot your password?</div>
        <div class='panel-body'>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>

            <div>
              <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render "users/shared/links" %>
</div>
