<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Categories</h1>
</div>

<div class='panel'>
  <div class='panel-body'>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= link_to category.name, category %></td>
              <td>
                <% if current_user.can_change_category? %>
                  <%= link_to 'Edit', edit_category_path(category) %>
                <% end %>
              </td>
              <td class='danger'>
                <% if current_user.can_change_category? %>
                  <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class='panel'>
  <div class='panel-body'>
    <% if current_user.can_add_category? %>
      <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
